# OS junk files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter checkpoints (if used)
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# Local Streamlit config
.streamlit/

# Data files
data/
*.gpx
*.csv
